<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 col-12 col-md-6">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="mb-3 col-12 col-md-6">
    <%= form.label :description, class: "form-label" %>
    <%= form.textarea :description, class: "form-control" %>
  </div>

  <div class="mb-3 col-12 col-md-6">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, enum_for_select(Task, :status), {}, class: "form-select" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
